@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0f17;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}